@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.header_logo {
    background-color: #333;
    display: flex;
    align-items: flex-start;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.left-side img {
    width: 100%;
    height: auto;
}


.right-side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    direction: rtl;
    text-align: right;

}

.right-side section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
